#list-patient{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
#list-patient li{
    background-color: #FFFFFF;
    width: 20%;
    margin: 15px 2.5% 15px 2.5%;
    list-style: none;
}
#list-patient li image{
    width: 100%;
}
#list-patient li p{
    text-align: center;
}