.cadre-login {
    display: grid;
    width: 500px;
    border: solid 1px #000;
    padding: 10px;
}

.label-identifiant {
    padding-bottom: 10px;
}

.label-password {
    padding-bottom: 15px;
}

.input-identifiant {
    width: 387px;
}

.input-password {
    width: 361px;
}

.login-titre {
    font-size: 40px;
    left: 200px;
    padding: 5% 0 7% 33%;
    z-index: 1000;
}
