*{
    font-family: sans-serif;
    overflow: hidden;
}
#main-container{
    height: 100%;
    width: 100%;
    background-image: url(../images/nts_vue_du_ciel.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#QRCode-container{
    width: 380px;
    height: 540px;
    position: relative;
    margin: 6% auto;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}
.input-group{
    width: 280px;
    margin-left: 50px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    border-radius: 30px;
}
#QRCode{
    width: 340px;
    margin-left: 15px;
    padding: 5px;
    box-shadow: 0 0 16px 0px rgb(82, 74, 74);
    border-radius: 30px;
}
h2{
    text-align: center;
}
#logout-btn{
    position: relative;
    float: right;
}
#logout-btn img{
    width: 15px;
    margin: 20px 20px 0 0;
}