.police {
    font-family: 'Sora', sans-serif;
}

.div-center {
    float: left;
    position: absolute;
    left: 15%;
    top: 18%;
    border: 1px solid black;
    width: 70%;
    height: 45%;
    background-color: #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.texte {
    color: black;
}

.text-align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.taille-ecran {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
}

.button {
    margin-top: 10px;
}

.pad-left {
    padding-left: 29%;
}